<footer class="footer text-faded text-center py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-sm-6 text-center mb-4">
				<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x text-light"></i>
					<i class="fa fa-envelope fa-stack-1x fa-inverse text-primary"></i>
				</span>
			</div>
			<div class="col-lg-4 col-sm-6 text-center mb-4">
				<p>Email:</p>
				<a><i class="fa fa-envelope-o" style="font-size:24px"></i>ventas@ajonjolimexico.com.mx</a>
			</div>

			<div class="col-lg-2 col-sm-6 text-center mb-4">
				<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x text-light"></i>
					<i class="fa fa-phone fa-stack-1x fa-inverse text-primary"></i>
				</span>
			</div>
			<div class="col-lg-4 col-sm-6 text-center mb-4">
				<a>Tel: +52 1 55 4435 7721</a>
				<a rel="nofollow" href="https://api.whatsapp.com/send?phone=5215563553820&text=Hola, me gustaría recibir más información acerca de Ajonjolí México" nofollow>Cel. WhatsApp +52 1 55 6355 3820</a>
			</div>
		</div>

	</div>
	<div class="container">
		<p class="m-0 small">Copyright &copy; AjonjoliMexico 2019</p>
	</div>
</footer>
<!-- Plugin JavaScript -->

<!-- Bootstrap core JavaScript -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/assets/js/agency.js"></script>
